@font-face {
    font-family: "Lexend Deca";
    src: url('/flbook/fonts/LexendDeca-VariableFont_wght.woff2');
    /*font-weight: normal;
    font-style: normal;
    font-display: swap;*/
}

@font-face {
    font-family: "Reddit Mono";
    src: url('/flbook/fonts/RedditMono-VariableFont_wght.woff2');
}

html {
    font-family: "Lexend Deca", sans-serif;
}

code {
    font-family: "Reddit Mono", monospace;
    color: var(--tw-prose-body)
}

body .relative.flex.flex-col.items-center,
.bg-cover .text-center {
  text-align: left !important;
  align-items: flex-start !important;
}

.home-background-content,
.bg-cover.relative .flex.flex-col {
  text-align: left;
  align-items: flex-start;
}

:root {
    --adm-definition-border: oklch(45% 0.017 213.2);
    --adm-definition-bg: oklch(98.7% 0.002 197.1);
    --adm-definition-text: oklch(27.5% 0.011 216.9);

    --adm-theorem-border: oklch(54.2% 0.034 322.5);
    --adm-theorem-bg: oklch(98.5% 0 none);
    --adm-theorem-text: oklch(26.3% 0.024 320.12);

    --comp-linear-border: oklch(63.7% 0.237 25.331);
    --comp-linear-bg: oklch(97.1% 0.013 17.38);
    --comp-linear-text: oklch(39.6% 0.141 25.723);

    --comp-constant-border: oklch(68.5% 0.169 237.323);
    --comp-constant-bg: oklch(97% 0.014 254.604);
    --comp-constant-text: oklch(37.9% 0.146 265.522);
}

html.dark {
    --adm-definition-bg: color-mix(in srgb, oklch(21.8% 0.008 223.9), #0f0f0f 50%);
    --adm-definition-text: oklch(96.3% 0.002 197.1);

    --adm-theorem-bg: color-mix(in srgb, oklch(26.3% 0.024 320.12), #0f0f0f 50%);
    --adm-theorem-text: oklch(96% 0.003 325.6);

    --comp-linear-bg: color-mix(in srgb, oklch(44.4% 0.177 26.899), #0f0f0f 50%);
    --comp-linear-text: oklch(93.6% 0.032 17.717);

    --comp-constant-bg: color-mix(in srgb, oklch(42.4% 0.199 265.638), #0f0f0f 50%);
    --comp-constant-text: oklch(93.2% 0.032 255.585);
}

.admonition[data-type="definition"] {
  border-color: var(--adm-definition-border);
  background-color: var(--adm-definition-bg);
  color: var(--adm-definition-text);
}


.admonition[data-type="theorem"] {
  border-color: var(--adm-theorem-border);
  background-color: var(--adm-theorem-bg);
  color: var(--adm-theorem-text);
}


.complexity[type="linear"] {
    border-color: var(--comp-linear-border);
    background-color: var(--comp-linear-bg);
    color: var(--comp-linear-text);
}

.complexity[type="constant"] {
    border-color: var(--comp-constant-border);
    background-color: var(--comp-constant-bg);
    color: var(--comp-constant-text);
}

.scroll-container {
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-container img {
  display: block;
  width: auto;
  height: 400px;
  max-width: none;
}
